<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>

    <!-- Font Awesome For Icons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css"><link rel="stylesheet" href="/css/styles.css"><link rel="stylesheet" href="/css/contact_details.css">

    
  </head>
  <body>
    <div class="header">
      <h1><%= title %></h1>
      <p><%= content %></p>
    </div>
    <!-- Contact Details -->
    <div class="details-container">
        <div class="detail-item">
            <div class="detail-label"> Name </div>
            <div class="detail-value"><%= contact.name %></div>
        </div>

        <div class="detail-item">
            <div class="detail-label"> Phone Number </div>
            <div class="detail-value"><%= contact.phone %></div>
        </div>
    </div>

    <!-- Back Button -->
    <div class="back-button-container">
        <a href="/contacts" class="back-button">
            <i class="fa-solid fa-arrow-left"></i> Back
        </a>
    </div>

  </body>
</html>
