<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Font Awesome For Icons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css"><link rel="stylesheet" href="/css/header.css"><link rel="stylesheet" href="/css/styles.css">
    <title><%=title%> </title>

    
  </head>
  <body>
    <div class="header">
      <h1><%=title%> </h1>
      <p> <%=content%>  </p>
    </div>
    <div class="add-button-container">
        <a href="/students/add" class="add-button">
            <i class="fa-solid fa-plus"></i> Add New Contact
        </a>
    </div>
    <div class="student-table">
        <table>
            <tr>
                <th>No</th> <th>Name</th> <th>Student No</th> <th>Action</th>
            </tr>
            <%students.forEach(function(student, index) { %>
                <tr>
                    <td><%= index+1 %></td>
                    <td><%= student.name %></td>
                    <td><%= student.student_no %></td>
                    <div class="action">
                        <td>
                            <a href="#" class="btn btn-view" title="view">
                                <i class="fa-solid fa-eye"></i>
                            </a>
                            <a href="/students/update/<%= student.id%>" class="btn btn-edit" title="view">
                                <i class="fa-solid fa-pen"></i>
                            </a>
                            <a href="#" class="btn btn-delete" title="view">
                                <i class="fa-solid fa-trash"></i>
                            </a>
                        </td>
                    </div>
                </tr>
            <%});%>
        </table>
    </div>
    
  </body>
</html>
