<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Font Awesome For Icons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css"><link rel="stylesheet" href="/css/header.css"><link rel="stylesheet" href="/css/styles.css">
    <title><%= title %> </title>

    
  </head>
  <body>
    <div class="header">
      <h1><%= title %> </h1>
      <p> <%= content %>  </p>
    </div>
    <div class="form-container">
        <% if(error){ %>
            <div class="error"> <%= error %> </div>
        <% } %>
        <form action="<%= formAction %>" method="POST">
            
            <label for="name">Name: </label>
            <input type="text" name="name" placeholder="Enter Name" value="<%= student ? student.name:'' %>">
            <label for="student_no">Student No: </label>
            <input type="text" name="student_no" placeholder="Enter student number" value="<%=  student ? student.student_no:''%>">
            <label for="email">Email: </label>
            <input type="text" name="email" placeholder="e.g. yadiya@mail.com" value="<%= student ? student.email: ''%>">
            <label for="Phone">Phone No.: </label>
            <input type="text" name="Phone" placeholder="011111111" value="<%= student ? student.Phone: ''%>">

            <div class="button-group">
                <button type="submit" class="save-btn">
                    <i class="fa-solid fa-floppy-disk"></i><%= 'Save' %>
                </button>
                <a href="/students" class="back-button">
                    <i class="fa-solid fa-arrow"></i> Back
                </a>
            </div>
        </form>
    </div>
  </body>
</html>
